*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 40px;
    width: 100vw;
}
.navbar{
    position: relative;
    background: #2d1252;
    color: white;
    font-size: 15px;
    padding:3px;
    width: 100vw;
}

ul{
    display: flex;
    justify-content:space-between;
    width: 40%;
    padding-right: 50px;
    list-style-type: none;
    margin-left: 20px;
}
.navbar, .home{
    position: absolute;
    top: 2px;
    left: 2px;
    
}
.header-2{
    position: relative;
    display: flex;
    padding: 40px 0;
    font-size: 15px;

}
.yahoo{
    position: absolute;
    top: 40px;
    left: 0px;
}
.header2-left{
    justify-content: flex-end;
    margin-left: 150px;
    width: 70%;
}
.text-box{
    width: 300px;
    height: 40px;
    padding: 10px;
}
.news-box{
    height: 40px;
    width: 120px;
}
.web-box{
    height: 40px;
    width: 120px;
}
.header2-right{
    position: relative;
    display: flex;
    justify-content:flex-end;

}
.header2-right .mail{
    position: absolute;
    left: 125px;
    top: 5px;
}
.header2-right .logo{
    position: absolute;
    left: 0px;
    top: 1px;
}
.header2-right h3{
    position: absolute;
    left: 45px;
    top: 4px;
}
.header2-right h2{
    position: absolute;
    left: 170px;
}
.header3{
    display: flex;
    position: relative;
    font-size: 15px;
}
.header3-left{
    justify-content:space-between;
    width: 50%;
}
.header3-right{
    justify-content:space-around;
    position: absolute;
    right: 0px;

}
.ad1{
    display: flex;
    margin-top: 20px;
    background-color: black;
    color: white;
}
.ad1-left{
    width: 45%;

}
.ad1-right{
    width: 55%;
    inline-size: 500px;
    padding-top: 40px;
}
.ad1-right button{
    background-color: rgb(0, 89, 255);
    color: #ccc;
    padding: 15px 32px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 35px;
    outline-style: solid;
    outline-color: white;
    outline-width: thin;
    margin: 20px;
}
.ad1-right p{
    margin-top: 20px;
}

.second-ad{
    display: flex;
}
.ad2{
    display: flex;
    margin-top: 20px;
    background-color: rgb(92, 75, 75);
}

.ad2-right{
    inline-size: 200px;
    padding-top: 40px;

}
.ad2right2{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
.ad2right2 img{
    position: absolute;
}
.ad2right2 p{
    inline-size: 200px;
    margin-top: 100px;
}
.ad2right2 img2{
    z-index: -10;
}
.ad2right2 img1{
    z-index: 50;
}
.bottom-row{
    display: flex;
    width: 70%;
    margin-right: 15px;
    margin-top: 20px;
}
.bottom-row img{
    width: 200px;
    height: 100px
}
